{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["react-app", "airbnb", "plugin:prettier/recommended"],
  "rules": {
    "no-console": "off",
    "comma-dangle": ["error", "never"],
    "no-unused-vars": [
      "warn",
      {
        "vars": "local",
        "args": "none"
      }
    ],
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "tabWidth": 2,
        "printWidth": 80,
        "trailingComma": "none",
        "semi": true,
        "jsxBracketSameLine": false,
        "bracketSpacing": true
      }
    ]
  }
}
