{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": ["react-app", "airbnb", "plugin:prettier/recommended"],
  "rules": {
    "no-console": "off",
    "semi": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "comma-dangle": ["error", "never"],
    "no-unused-vars": [
      "warn",
      {
        "vars": "local",
        "args": "none"
      }
    ],
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prop-types": 0,
    "indent": [2, "tab"],
    "no-tabs": 0,
    "react/jsx-indent": ["error", 0],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": true,
        "trailingComma": "none",
        "printWidth": 80,
        "tabWidth": 4,
        "bracketSpacing": true,
        "useTabs": true,
        "jsxBracketSameLine": false,
        "parser": "babylon"
      }
    ]
  }
}
